# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/unsuccessfulbuild
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/ReflectionToCpp.lastbuildstate
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.write.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.read.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.command.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.write.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.read.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.command.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/vc140.pdb
/ReflectionToCpp/ReflectionToCpp/Debug/vc140.idb
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.log
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.Build.CppClean.log
/ReflectionToCpp/ReflectionToCpp.VC.VC.opendb
