# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/unsuccessfulbuild
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/ReflectionToCpp.lastbuildstate
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.write.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.read.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/link.command.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.write.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.read.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.tlog/CL.command.1.tlog
/ReflectionToCpp/ReflectionToCpp/Debug/vc140.pdb
/ReflectionToCpp/ReflectionToCpp/Debug/vc140.idb
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.log
/ReflectionToCpp/ReflectionToCpp/Debug/ReflectionToCpp.Build.CppClean.log
/ReflectionToCpp/v15/Browse.VC.opendb
/ReflectionToCpp/ReflectionToCpp/x64/Debug/ReflectionToCpp.tlog
/ReflectionToCpp/ReflectionToCpp/x64/Debug/vc141.idb
/ReflectionToCpp/ReflectionToCpp/Debug/vc141.pdb
/ReflectionToCpp/ReflectionToCpp/Debug/vc141.idb
/ReflectionToCpp/.vs/ReflectionToCpp/v15/ipch/REFLECTIONTOCPP-adca612b/REFLECTIONTOCPP-8cdb1d5d.ipch
/ReflectionToCpp/.vs/ReflectionToCpp/v15/ipch/AutoPCH/REFLECTIONTOCPP-adca612b/OOP5_TEST_PARTB-ad503289/OOP5_TEST_PARTB.ipch
/ReflectionToCpp/.vs/ReflectionToCpp/v15/ipch/AutoPCH/REFLECTIONTOCPP-adca612b/FIELD-e15e83d3/FIELD.ipch
/ReflectionToCpp/.vs/ReflectionToCpp/v15/ipch/AutoPCH/da385fa5/OOP5_TEST_PARTB-ad503289/OOP5_TEST_PARTB.ipch
/ReflectionToCpp/.vs/ReflectionToCpp/v15/ipch/AutoPCH/da385fa5/CLASS-26294865/CLASS.ipch
/ReflectionToCpp/.vs/ReflectionToCpp/v15/Browse.VC.opendb
/ReflectionToCpp/.vs/ReflectionToCpp/v15/Browse.VC.db
/ReflectionToCpp/.vs/ReflectionToCpp/v15/Browse.VC.opendb
/ReflectionToCpp/.vs/ReflectionToCpp/v15/Browse.VC.opendb
/ReflectionToCpp/.vs/ReflectionToCpp/v15/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/OOP5_PART2/v15/Browse.VC.db
